<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="wheel_radius" value="0.05" />
    <xacro:property name="wheel_mass" value="1.0" />
    <xacro:property name="inertia_wheels" value="0.001" />

    <xacro:include filename="$(find freddy_base_description)/urdf/common.xacro" />

    <xacro:macro name="kelo_wheel" params="name parent *origin material_name">
        <joint name="${name}_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="${name}_link"/>
        </joint>
        <link name="${name}_link">
            <visual>
                <geometry>
                    <sphere radius="${wheel_radius}" />
                </geometry>
                <material name="${material_name}"/>
            </visual>
            <collision>
                <geometry>
                    <sphere radius="${wheel_radius}" />
                </geometry>
            </collision>
            <xacro:sphere_inertia mass="${wheel_mass}" radius="${wheel_radius}" />
        </link>
        <gazebo reference="${name}_link">
            <mu1>0.0</mu1>
            <mu2>0.0</mu2>
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>

</robot>
