<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="freddy" >

    <xacro:arg name="use_gpu_2d_laser" default="false" />

    <xacro:include filename="$(find freddy_description)/urdf/freddy_base.urdf.xacro" />
    <xacro:include filename="$(find freddy_description)/urdf/materials.urdf.xacro" />


    <link name="base_link"/>

    <xacro:freddy_base name="freddy_base" parent="base_link" use_gpu_2d_laser="$(arg use_gpu_2d_laser)">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:freddy_base>

</robot>
